;fichier modèle du fichier config.ini (qui n'est pas versionné, c'est à dire partagé sur Github)
;ce fichier est partagé ! pour montrer à tout le monde quelle config
;quelles configs sont attendues par l'application

DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=